@import "tailwindcss";

/* importa palette di OMP */
@import "./theme.css" layer(theme);

/* Colori base (Tema Chiaro) */
:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Aggiungi qui altre variabili di colore, es. --primary, --secondary, ecc. */
}

/* Colori per il Tema Scuro, attivati solo quando l'elemento <html> o <body> ha la classe 'dark' */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* Applica le variabili, che cambieranno automaticamente */
  background: var(--background);
  color: var(--foreground);
  /* ... altri stili ... */
  font-family:  var(--font-inter), Arial, Helvetica, sans-serif;
}

/* h1, h2 {
  font-family: var(--font-lusitana), Arial, Helvetica, sans-serif;
} */