/*
  Generated via Harmonizer: https://harmonizer.evilmartians.com/#W1siMTAwIiwxMDAsbnVsbCwiMjAwIiw5MCxudWxsLCIzMDAiLDgwLG51bGwsIjQwMCIsNzAsbnVsbCwiNTAwIiw2MCxudWxsLCI2MDAiLDYwLG51bGwsIjcwMCIsNzAsbnVsbCwiODAwIiw4MCxudWxsLCI5MDAiLDkwLG51bGxdLFsiQ29yYWwiLDI1LCJPcmFuZ2UiLDY1LCJUdXJtZXJpYyIsMTA1LCJHcmVlbiIsMTQ1LCJUdXJxdW9pc2UiLDE4NSwiQXp1cmUiLDIyNSwiTmVvbiIsMjY1XSxbImFwY2EiLCJmZ1RvQmciLCJtYXgiLCIjZmZmIiwiIzAwMCIsNSwicDMiXV0
*/
:root {
  --coral-100: oklch(0.97 0.02 25);
  --coral-200: oklch(0.93 0.05 25);
  --coral-300: oklch(0.88 0.08 25);
  --coral-400: oklch(0.83 0.12 25);
  --coral-500: oklch(0.78 0.16 25);
  --coral-600: oklch(0.67 0.28 25);
  --coral-700: oklch(0.59 0.27 25);
  --coral-800: oklch(0.51 0.23 25);
  --coral-900: oklch(0.41 0.19 25);

  --orange-100: oklch(0.97 0.02 65);
  --orange-200: oklch(0.92 0.06 65);
  --orange-300: oklch(0.88 0.11 65);
  --orange-400: oklch(0.83 0.16 65);
  --orange-500: oklch(0.78 0.2 65);
  --orange-600: oklch(0.66 0.17 65);
  --orange-700: oklch(0.58 0.15 65);
  --orange-800: oklch(0.5 0.13 65);
  --orange-900: oklch(0.42 0.11 65);

  --turmeric-100: oklch(0.97 0.13 105);
  --turmeric-200: oklch(0.92 0.23 105);
  --turmeric-300: oklch(0.87 0.21 105);
  --turmeric-400: oklch(0.82 0.2 105);
  --turmeric-500: oklch(0.76 0.19 105);
  --turmeric-600: oklch(0.64 0.16 105);
  --turmeric-700: oklch(0.57 0.14 105);
  --turmeric-800: oklch(0.5 0.12 105);
  --turmeric-900: oklch(0.41 0.1 105);

  --green-100: oklch(0.96 0.03 145);
  --green-200: oklch(0.9 0.18 145);
  --green-300: oklch(0.83 0.35 145);
  --green-400: oklch(0.78 0.33 145);
  --green-500: oklch(0.73 0.31 145);
  --green-600: oklch(0.62 0.26 145);
  --green-700: oklch(0.55 0.23 145);
  --green-800: oklch(0.47 0.2 145);
  --green-900: oklch(0.39 0.17 145);

  --turquoise-100: oklch(0.97 0.03 185);
  --turquoise-200: oklch(0.9 0.19 185);
  --turquoise-300: oklch(0.84 0.2 185);
  --turquoise-400: oklch(0.79 0.19 185);
  --turquoise-500: oklch(0.74 0.18 185);
  --turquoise-600: oklch(0.62 0.15 185);
  --turquoise-700: oklch(0.56 0.13 185);
  --turquoise-800: oklch(0.48 0.11 185);
  --turquoise-900: oklch(0.39 0.09 185);

  --azure-100: oklch(0.97 0.02 225);
  --azure-200: oklch(0.92 0.06 225);
  --azure-300: oklch(0.87 0.1 225);
  --azure-400: oklch(0.81 0.14 225);
  --azure-500: oklch(0.75 0.19 225);
  --azure-600: oklch(0.63 0.16 225);
  --azure-700: oklch(0.56 0.14 225);
  --azure-800: oklch(0.49 0.12 225);
  --azure-900: oklch(0.4 0.1 225);
  
  --neon-100: oklch(0.97 0.02 265);
  --neon-200: oklch(0.92 0.04 265);
  --neon-300: oklch(0.87 0.07 265);
  --neon-400: oklch(0.82 0.1 265);
  --neon-500: oklch(0.77 0.13 265);
  --neon-600: oklch(0.65 0.2 265);
  --neon-700: oklch(0.59 0.24 265);
  --neon-800: oklch(0.51 0.29 265);
  --neon-900: oklch(0.41 0.28 265);

  --gray-50: oklch(0.95 0 0);
  --gray-100: oklch(0.9 0 0);
  --gray-200: oklch(0.85 0 0);
  --gray-300: oklch(0.75 0 0);
  --gray-400: oklch(0.65 0 0);
  --gray-500: oklch(0.55 0 0);
  --gray-600: oklch(0.45 0 0);
  --gray-700: oklch(0.35 0 0);
  --gray-800: oklch(0.25 0 0);
  --gray-850: oklch(0.20 0 0);
  --gray-900: oklch(0.15 0 0);
}